* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$color-primary: #133250;

/* body {
  background-color: rgb(172, 163, 180);
}

form {
  width: 0;
  margin: 21rem auto;
}

.btn-first {
  background-color: rgb(97, 97, 228);
  color: rgb(36, 64, 87);
  border: 1px solid rgb(97, 97, 228);
  padding: 1rem;
  cursor: pointer;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
} */
body {
  font-family: sans-serif;
  color: $color-primary;
  line-height: 1;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* display: flex;
  justify-content: center; */
  display: grid;
  place-items: center;
}

table {
  width: 50rem;
  margin-top: 8.25rem;
  /* border: 1px solid #343a40; */
  border-collapse: collapse;
  font-size: 18px;

  th,
  td {
    padding: 16px 24px;
    text-align: left;
  }

  thead {
    background-color: $color-primary;
    color: #fff;

    td {
      padding: 16px 24px;
    }

    th {
      text-align: left;
      width: 25%;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #f8f9fa;
      }

      &:nth-child(even) {
        background-color: #e9ecef;
      }
    }
  }
}

// th,
// td {
//   /* border: 1px solid #343a40; */
//   padding: 16px 24px;
//   text-align: left;
// }

// thead tr {
//   background-color: $color-primary;
//   color: #fff;
// }

// thead {
//   th {
//     width: 25%;
//   }
// }

// tbody tr:nth-child(odd) {
//   background-color: #f8f9fa;
// }

// tbody tr:nth-child(even) {
//   background-color: #e9ecef;
// }
