body {
  font-family: sans-serif;
}

.section-all {
  margin: 0 auto;
  max-width: 103.125rem;
}

#section-1 {
  background-color: rgb(224, 166, 57);
  color: white;
  font-size: 1.3rem;
  /* width: 103rem; */
  padding: 0.3rem 1rem;
  /* margin: 0 auto; */
  margin-top: 5rem;
  text-align: left;
}

#section-2 {
  border: 1.9px solid orange;
  /* width: 103rem; */
  padding: 0.3rem 1rem;
  /* margin: 0 auto; */
  margin-top: 2rem;
  text-align: left;
}

div {
  border: 1.9px solid rgb(41, 22, 87);
  color: rgb(41, 22, 87);
  padding: 0.2rem 1rem;
  margin: 2rem 2rem;
}

/* .div-2 {
  background-color: rgb(224, 166, 57);
  border: none;
  color: white;
} */

div:hover {
  background-color: rgb(224, 166, 57);
  border: 1.9px solid rgb(224, 166, 57);
  /* border: none; */
  color: white;
}
